
data/*
!data/.gitkeep
*.csv
*.tsv
*.pdf
*.zip
*.tar.gz

models/*
!models/.gitkeep
ocr_finetuned_checkpoints/
best_ocr_model/
*.pt
*.safetensors
*.bin
.env
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
*.log